.text {
    color: #000;
    font-family: Satoshi;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
/* .MuiBox-root-css-0 {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
} */